<h2>Make a reservation</h2>
<p><%= link_to Restaurant.find(params[:restaurant_id]).name, restaurant_path(params[:restaurant_id]) %></p>

<%= form_for @reservation, url: {:action => "create"} do |f| %>
  <% if @reservation.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @reservation.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :day %>
  <%= f.date_field :day %>
  <br>
  <%= f.label :time %>
  <%= f.collection_select :time, reservation_slots, :to_s, :humanize %>
  <br>
  <%= f.label :guests %>
  <%= f.collection_select :guests, Reservation::GUESTS, :to_i, :humanize %>
  
  <%= f.submit "Take a seat", :class => "button" %>
<% end %>