<%= form_for @reservation do |f| %>
  <% if @reservation.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @reservation.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label : %>
  <%= f.text_field : %>
  
  <%= f.submit "Find a seat!", :class => "button" %>
<% end %>

<% if @reservations != nil %>
  <%= render "search_results" %>
<% end %>
  
    

