<h1><%= @restaurant.name %></h1>

<p> This restaurant was created by <%= @restaurant.user.email %> at <%= @restaurant.created_at %> </p>
<br>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@restaurant.latitude}%2C#{@restaurant.longitude}" %>
<br>

<%= link_to "Make a reservation", new_restaurant_reservation_path(@restaurant.id) %>

<h3>Current reservations</h3>

<% @restaurant.reservations.each do |reservation| %>
  <p>Reservation for <%= reservation.guests %> at <%= reservation.time %> by <%= reservation.user.email %>
    </p>
<% end %>
  
  




  
