<nav class="top-bar">
   <ul class="title-area">
     <li class="name">
        <h1><a href="<%= root_path %>">Seat Your Self</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
   </ul>

   <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      
      <% if current_user %>
        <li><a href="<%= user_path(current_user) %> ">Your Profile</a></li>
        <li class="divider"></li>
        <li><a href="<%= logout_path %> ">Log out</a></li>
      <% else %>
        <li><a href="<%= login_path %> ">Log in</a></li>
        <li class="divider"></li>
        <li><a href="<%= new_user_path %> ">Sign up</a></li>
      <% end %>
     </ul>
   </section>
      
 </nav>